:root {
    --gray-1: #333333;
    --gray-2: #4F4F4F;
    --white: #FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Inconsolata', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Space Mono', monospace;
}
header {
    width: 100%;
    height: 50px;
}
header .error {
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Inconsolata', monospace;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.518rem;
    letter-spacing: -0.08em;
    color: var(--gray-1);
}
.main--img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main--img figure img {
    width: 286px;
    height: 238px;
    margin: 30px 50px
}
.main--text {
    display: flex;
    flex-direction: column;
}
.main--text h1 {
    font-family: 'Space Mono', monospace;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 7.109rem;
    letter-spacing: -0.035em;
    margin-left: 10px;
    color: var(--gray-2);
}
.main--text p {
    width: 100%;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Space Mono', monospace;
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 2.7rem;
    font-style: normal;
    letter-spacing: -0.035em;
    color: var(--gray-2);
}
.main--text button {
    width: 216px;
    height: 68px;
    margin-left: 10px;
    margin-top: 40px;
    font-family: 'Space Mono', monospace;
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    letter-spacing: -0.035em;
    line-height: 2.1rem;
    background-color: var(--gray-1);
    color: var(--white);
}
.footer--text {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.7rem;
    color: var(--gray-1);
}